@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    height: 100vh;
}

.page-title {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-weight: bold 700;
    font-size: 1.5rem;
}

.rooms-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: auto;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

#show-form {
    margin: .7rem 0;
}

#show-form button {
    padding: .5rem;
}

#new-room-form {
    display: flex;
    flex-direction: column;
}

#new-room-form label, input {
    margin: 0.5rem 0;
}

#new-room-form button {
    margin: 1rem 0;
}

.hide {
    display: none;
}

.rooms {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.rooms .room {
    display: flex;
    width: 15%;
    max-width: 15%;
    flex-direction: column;
    margin: 1rem .5rem;
    background: #ccc;
    padding: 1rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    background: #0791d3;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.rooms .room button, span {
    margin: .4rem 0;
}

.btn-main {
    padding: 0.4rem;
    background: #ff055a;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
}

#join-show-form{
    margin: .7rem 0;
}

#join-show-form button {
    padding: .5rem;
}

#join-room-form {
    display: flex;
    flex-direction: column;
}

#join-room-form label, input {
    margin: 0.5rem 0;
}

#join-room-form button {
    margin: 1rem 0;
}

#quiz_lobby_players{
    padding: 0.5rem;
    background: rgb(238, 238, 238);
}

#quiz_lobby_players ul {
    list-style: none;
}

#quiz_lobby_players li {
    padding: 0.5rem 0;
}

#quiz_start_form_div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#start-quiz-form {
    display: flex;
    flex-direction: column;
}

#start-quiz-form select, button {
    margin: 1.2rem 0;
}

#start-quiz-form label {
    margin: 0.3rem 0;
}

.btn-locked {
    background: orange;
}

.score_board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.score_card {
    display: flex;
    background: orange;
    margin: .4rem;
    padding: .6rem;
}
  
.score_card div {
    margin: 0 .2rem;
}

#question-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

#question-div h3 {
    font-size: 5rem;
}
  
#question-div table {
    width: 100%;
    font-size: 1.1rem;
}
  
#question-div table, th, td {
    border: 1px solid #ccc;
}

#question-div tr:nth-child(odd) {
  background: #ccc;
}

#question-div tr:first-child {
    background: #fff;
}

  

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(60, 60, 60);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  
@media only screen and (max-width: 750px) {
    #quiz_start_form_div {
        width: 100%;
    }

    #show-form {
        width: 100%;
    }

    #show-form button {
        height: 110%;
        border-bottom: 10px solid #fff;
    }

    #join-show-form {
        width: 100%;
    }

    #join-show-form button {
        height: 110%;
    }

    input, select {
        border: 1px solid #ccc;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        width: 100%;
        outline: none;
    }

    button {
        width: 100%;
    }
    
    #new-room-form {
        width: 100%;
    }

    #new-room-form label, input {
        font-size: 1.5rem;
    }
    
    #new-room-form button {
        font-size: 1.5rem;
    }

    .rooms-section {
        width: 100%;
        padding: 0;
    }
    .btn-main {
        font-size: 2rem;
    }

    .btn-phone {
        font-size: 2.5rem;
        height: 15vh;
    }
}

@media (hover: hover) {
    .btn-main:hover {
        background: #1eb858;
    }
    .btn-locked:hover {
        background: orange
    }
}